project_name = "aws-gcp-private-networking"
environment  = "poc"

aws_region = "us-east-1"

aws_vpc_name = "vighnesh-vpc"
aws_vpc_cidr = "172.16.0.0/16"

aws_subnet_name       = "poc-aws-private-subnet"
aws_subnet_cidr       = "172.16.1.0/24"
aws_availability_zone = "us-east-1a"

aws_instance_name       = "poc-aws-private-ec2"
aws_instance_private_ip = "172.16.1.10"
aws_instance_type       = "t3.micro"
aws_key_name            = "poc-aws-gcp"

aws_tgw_name = "poc-tgw"
aws_tgw_asn  = 64512

gcp_project_id = "ccd-poc-project"
gcp_region     = "us-central1"
gcp_zone       = "us-central1-a"

gcp_network_name = "vighnesh-vpc"
gcp_subnet_name  = "poc-gcp-private-subnet"
gcp_subnet_cidr  = "172.20.1.0/24"

gcp_vm_name         = "poc-gcp-private-vm"
gcp_vm_private_ip   = "172.20.1.10"
gcp_vm_machine_type = "e2-micro"
gcp_bgp_asn         = 65001

vpn_customer_gateway_asn = 65001

vpn_tunnel1_inside_cidr = "169.254.101.0/30"
vpn_tunnel2_inside_cidr = "169.254.102.0/30"
vpn_tunnel3_inside_cidr = "169.254.103.0/30"
vpn_tunnel4_inside_cidr = "169.254.104.0/30"

# Set these outside files, for example with TF_VAR_vpn_psk_1 through TF_VAR_vpn_psk_4.
